:root {
  --blue: blue;
  --black: #000;
  --white: #fff;
  --yellow: rgb(217, 220, 63);
  --green: rgba(146, 213, 50, 0.87);
  --red: rgba(206, 42, 42, 0.77);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.bgRed {
  color: var(--red);
  border: 2px solid var(--red);
  margin-bottom: 5px;
  border-radius: 5px;
}

.bgGreen {
  color: var(--green);
  border: 2px solid var(--green);
  margin-bottom: 5px;
  border-radius: 5px;
}

.bgYellow {
  color: var(--yellow);
  border: 2px solid var(--yellow);
  margin-bottom: 5px;
  border-radius: 5px;
}

.bgWhite {
  color: snow;
}

.truncate {
  white-space: nowrap;
  width: 550px;
  overflow: hidden;
  text-overflow: ellipsis;
}

label {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 3px;
  color: brown;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 10px 30px;
}

.item {
  margin-bottom: 10px;

}

.font-bigger {
  padding: 5px;
}

.font-bigger:hover {
  background: rgba(227, 224, 217, 0.3);
  transform: scale(1.1);
  transition-delay: 500ms;
}

.details {
  padding: 50px 100px;
  text-align: justify;
}

li {
  list-style: none;
}

.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 3px solid var(--blue);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  margin-bottom: 20px;
}


.loading {
  height: 0;
  width: 0;
  padding: 7px;
  border: 2px solid var(--yellow);
  border-right-color: var(--black);
  border-radius: 22px;
  animation: rotate 1s infinite linear;
  margin: 100px;

}

.center {
  display: block;
  margin: 50px auto 0;
}


@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

button {
  border-radius: 4px;
  padding: 9px 22px;
  font-size: 22px;
  font-weight: bold;
  background: #e59c00;
  color: #fff;
  border: none;
  transition: 0.15s all;
  margin-top: 20px;
}

.url_explanation, .url_action, .description {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #e59c00;
  border-radius: 5px;
}

h2 {
  margin: 1px;
}

h3 {
  margin-bottom: 1px;
}

hr {
  display: inline-block;
  width: 115px;
  text-align: left;
  border: 5px solid #e59c00;
  border-radius: 5px;
  margin-top: 2px;
}

.hr_explanation {
  width: 175px;
}

.span {
  font-weight: bold;
  font-size: large;
}

.link_button:link, .link_button:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link_button:hover, .link_button:active {
  background-color: red;
}